<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="form_first">Multiply this: </label>
  <input id="form_first" type="text" name="first_number">
  <label for ="form_second"> by this: </label>
  <input id="form_second" type="text" name="second_number">
  <button>Multiply!</button>

</form>
