<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label for="form_sub_first">Subtract this: </label>
  <input id="form_sub_first" type ="text" name="first_number">
  <label for="form_sub_second"> from this: </label>
  <input id="form_sub_second" type="text" name="second_number">
  <button>Subtract!</button>

</form>
